
.asideBar
    .logo
        i.fas.fa-certificate
        |       AWSWR
    ul.menu
        li.menuItem
            i.fas.fa-chart-bar
            | Dashboard
        li.menuItem
            i.fas.fa-comment-alt
            | Question
        li.menuItem
            a(href="index.html")
                i.fas.fa-clipboard-list
                | Assignment
        li.menuItem
            i.fas.fa-file-video
            | Course
        li.menuItem
            a(href="admin.html")
                i.fas.fa-users-cog
                | Admin
        li.menuItem
            i.fas.fa-cog
            | Settings
    .asideBarFooter
        .iconImg
        .userInfo
            p.userName Andy Chen
            p.userMail andy0401@mail.com
